assets/*
!assets/.gitignore
protected/runtime/*
!protected/runtime/.gitignore
protected/data/*.db
themes/classic/views/


# Frontend dependencies and build output
chatbot1/ui/node_modules/
chatbot1/ui/dist/

ragchatagent/ui/node_modules/
ragchatagent/ui/dist/

mybot/ui/node_modules/
mybot/ui/dist/